@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	/* background: linear-gradient(to right, #f0f4c3, #ffffff); */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

h2 {
	text-align: center;
	color: #558b2f;
	margin-bottom: 25px;
}

input[type="text"], input[type="password"], textarea {
	width: 100%;
	padding: 10px;
	margin: 10px 0 15px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

textarea {
	resize: vertical;
	height: 80px;
}

input[type="submit"] {
	width: 100%;
	padding: 12px;
	background-color: #7cb342;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #558b2f;
}

.form-container {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    max-width: 700px; /* wider to fit form + image */
    margin: 40px auto;
}

.form-with-image {
    display: flex;
    align-items: flex-start; /* top-align form and image */
    gap: 40px;
}

.form-with-image form {
    flex: 1;
}

.side-image img {
    max-width: 400px;  /* adjust as needed */
    height:375px;
    border-radius: 8px;
    border-left: 4px solid white;
   /*  box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

.bbtn {
	width: 60px;
	height: 25px;
	color: white;
	border: none;
	margin-bottom: 10px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	background-color: #4caf50;
	text-decoration: none;
	display: inline-block;
	padding-left: 15px;
	padding-top: 5px;
}