@charset "UTF-8";
/* Style for header with plus icon */

.header-row:hover{
	font-size:17px;
	
}
.main-content1{
	margin:20px;
}
.header-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width:700px;
}

.header-row .add-icon {
  color: #4caf50;
  font-size: 22px;
  margin-right: 10px;
}

/* Saved passwords list */
.password-list {
	margin:10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.password-item {
	width:500px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.password-item .item-icon {
  color: #4caf50;
  font-size: 18px;
  margin-right: 10px;
}

.password-item span {
  font-size: 16px;
  color: #333;
  font-weight:700;
}
.nav-links li a.active {
    background: #e6f4ea;
    color: #2f8d46;
    border-left: 3px solid #2f8d46;
}